<div class="container">
    <div class="row my-5">
        <div class="mb-5 text-center aa" style="font-weight: 700; font-size: 60px; text-shadow: 2px 2px 8px #000000;"><span class="text-success">आरोग्यं
            </span><span style="color: rgb(255, 111, 0);">धनसम्पदा</span></div>
        <div class="mb-5 text-center col-12 fs-2 fw-bold"><span class="text-success">HIBIL</span> SCORE : 142</div>
        <div class="col-lg-3 col-md-4 col-12">
            <div class="card text-center">
                <img src="./assets/appoinments.jpg" alt="" class="card-img-top img-fluid"
                    style="height: 12rem; width: 100%;">
                <div class="card-body fw-bold">
                    <div>My Appoinments</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-12">
            <div class="card text-center">
                <img src="./assets/Family-Health-History.png" alt="" class="card-img-top img-fluid "
                    style="height: 12rem; width: 100%;">
                <div class="card-body fw-bold">
                    Family History
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-12">
            <div class="card text-center">
                <img src="./assets/health-insurance.png" alt="" class="card-img-top img-fluid "
                    style="height: 12rem; width: 100%;">
                <div class="card-body fw-bold">
                    Insurance History
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-12">
            <div class="card text-center">
                <div class="card text-center">
                    <img src="./assets/interest.png" alt="" class="card-img-top img-fluid "
                        style="height: 12rem; width: 100%;">
                    <div class="card-body fw-bold">
                        My Intrest
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-12 mt-5">
            <div class="card text-center">
                <img src="./assets/reminders.jpg" alt="" class="card-img-top img-fluid "
                    style="height: 12rem; width: 100%;">
                <div class="card-body fw-bold">
                    Reminders
                </div>
            </div>
        </div>
    </div>
</div>